/* GENERAL */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}

/* HEADER */
@media screen and (min-width: 768px) {
    .jumbotron {
        padding: 25px;
        padding-bottom: 25px;
    }
    h1 {
        margin-top: 10px;
    }
    h2 {
        margin-top: 15px;
        margin-bottom: 20px;
    }
}
.container.content {
    padding-bottom: 40px;
}
.container .text-muted {
    margin: 20px 0;
}

/* CONTENT PAGE */
.content-view {
    padding: 20px 0;
}

/* FOOTER */
.footer {
    background-color: #f5f5f5;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 60px;
}
